</div>
<footer class="footer bg-dark text-white mt-4 container-fluid">
    <div class="container py-3">
        <div class="row">
            <div class="col-6 col-md-3">
                <a class="d-block" href="@@include('_include_phone_formate.html')">@@include('_include_phone.html')</a>
                <a class="d-block" href="@@include('_include_phone_formate.html')">@@include('_include_phone.html')</a>
                <p>Адрес</p>
            </div>
            <div class="col-6 col-md-3 order-md-2">
            <a class="d-block text-right" href="@@include('_include_email_formate.html')">@@include('_include_email.html')</a>
        </div>
            <div class="col-12 col-md-6 order-md-1 text-center">
                                <div class="mt-3">
                <img class="img-social" src="/img/facebook (1).svg" alt="">
                <img class="img-social" src="/img/odnoklassniki-logo.svg" alt="">
                <img class="img-social" src="/img/telegram.png" alt="">
                <img class="img-social" src="/img/twitter-logo-on-black-background.svg" alt="">
                <img class="img-social" src="/img/vk-social-logotype.svg" alt="">
            </div>
        </div>
        </div>
       <p class="">copyright</p>
    </div>
</footer>

</div>

<!-- Modal callback  -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Обратный звонок</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" id="form-callback">
                    <div class="form-group">
                        <label for="name">Ваше имя и фамилия</label>
                        <input type="text" required class="form-control" id="name" aria-describedby="emailHelp" placeholder="Введите имя и фамилию">
                    </div>
                    <div class="form-group">
                        <label for="company">Компания</label>
                        <input type="text" required class="form-control" id="company" placeholder="Название компании">
                    </div>
                    <div class="form-group">
                        <label for="city">Город*</label>
                        <select name="select" required id="city" class="form-control">
                            <option value="value1">Значение 1</option>
                            <option value="value2">Значение 2</option>
                            <option value="value3">Значение 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон для связи</label>
                        <input type="phone" required class="form-control" id="phone">
                    </div>
                    Цель звонка
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio3" value="option1">
                        <label class="form-check-label" for="inlineRadio3">Сотрудничество</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio4" value="option2">
                        <label class="form-check-label" for="inlineRadio4">Отзыв</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio5" value="option3">
                        <label class="form-check-label" for="inlineRadio5">Другое</label>
                    </div>
                    <div class="form-group">
                        <span>Когда Вам перезвонить?</span>
                        <input type="checkbox" class="form-check-input" id="fast-call">
                        <label class="form-check-label" for="fast-call">Как можно быстрее</label>
                    </div>
                    Дата звонка/Время звонка
                    <input type="date" id="date" name="date" placeholder="Дата" required>
                    <input type="time" required>

                    <div class="form-group form-check">
                        <a href="">
                            <input type="checkbox" class="form-check-input" required id="consent">
                            <label class="form-check-label" for="consent">Согласие на обработку персональных данных</label>
                        </a>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Перезвонить">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal review -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Здравствуйте! Мы всегда рады услышать любые пожелания или замечания в отношении качества наших продуктов или обслуживания!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="review-name">Ваше имя и фамилия</label>
                        <input type="text" class="form-control" id="review-name" required aria-describedby="emailHelp" placeholder="Введите имя и фамилию">
                    </div>
                    <div class="form-group">
                        <label for="review-company">Компания</label>
                        <input type="text" class="form-control" id="review-company" required placeholder="Название компании">
                    </div>
                    <div class="form-group">
                        <label for="review-city">Город*</label>
                        <select name="select" required id="review-city" class="form-control">
                            <option value="value1">Значение 1</option>
                            <option value="value2">Значение 2</option>
                            <option value="value3">Значение 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="review-phone">Телефон для связи</label>
                        <input type="phone" required class="form-control" id="review-phone">
                    </div>
                    <div class="form-group">
                        <label for="review-email">E-mail</label>
                        <input type="email" class="form-control" required id="review-email" placeholder="E-mail">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Сказать спасибо</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Пожаловаться</label>
                    </div>
                    <div class="form-group">
                        <textarea name="textReview" id="textReview" cols="40" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="file">Прикрепить файл</label>
                        <input type="file" class="form-control" id="file">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" required class="form-check-input" id="thank">
                        <label class="form-check-label" for="thank">Я не робот</label>
                    </div>
                    <div class="form-group form-check">
                        <a href="">
                            <input type="checkbox" class="form-check-input" required id="review-consent">
                            <label class="form-check-label" for="review-consent">Согласие на обработку персональных данных</label>
                        </a>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Отправить">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal distributor -->
<div class="modal fade" id="ModalDistributor" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitleDistributor">Отправить заявку на сотрудничество</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="distrib-id">ID</label>
                        <input type="text" class="form-control" required id="distrib-id">
                    </div>
                    <div class="form-group">
                        <label for="distrib-company">Компания*</label>
                        <input type="text" class="form-control" required id="distrib-company">
                    </div>
                    <div class="form-group">
                        <label for="distrib-inn">ИНН*</label>
                        <input type="text" class="form-control" required id="distrib-inn">
                    </div>
                    <div class="form-group">
                        <label for="distrib-obl">Регион*</label>
                        <select name="select" required id="distrib-obl" class="form-control">
                            <option value="value1">Значение 1</option>
                            <option value="value2">Значение 2</option>
                            <option value="value3">Значение 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="distrib-city">Город*</label>
                        <select name="select" required id="distrib-city" class="form-control">
                            <option value="value1">Значение 1</option>
                            <option value="value2">Значение 2</option>
                            <option value="value3">Значение 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="distrib-name">ФИО*</label>
                        <input type="text" class="form-control" required id="distrib-name">
                    </div>
                    <div class="form-group">
                        <label for="distrib-position">Должность</label>
                        <input type="text" class="form-control" id="distrib-position">
                    </div>
                    <div class="form-group">
                        <label for="distrib-phone">Телефон*</label>
                        <input type="phone" class="form-control" required id="distrib-phone">
                    </div>
                    <div class="form-group">
                        <label for="distrib-email">Адрес электронной почты*</label>
                        <input type="email" class="form-control" required id="distrib-email">
                    </div>
                    <div class="form-group form-check">
                        <a href="">
                            <input type="checkbox" class="form-check-input" required id="distrib-consent">
                            <label class="form-check-label" for="distrib-consent">Согласие на обработку персональных данных</label>
                        </a>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Отправить">
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Registration -->
<div class="modal fade" id="ModalRegistration" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Регистрация
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="registration-id">ID</label>
                        <input type="text" class="form-control" required id="registration-id">
                    </div>
                    <div class="form-group">
                        <label for="registration-company">Компания*</label>
                        <input type="text" class="form-control" required id="registration-company">
                    </div>
                    <div class="form-group">
                        <label for="registration-inn">ИНН*</label>
                        <input type="text" class="form-control" required id="registration-inn">
                    </div>
                    <div class="form-group">
                        <label for="registration-obl">Регион*</label>
                        <select name="select" required id="registration-obl" class="form-control">
                            <option value="value1">Значение 1</option>
                            <option value="value2">Значение 2</option>
                            <option value="value3">Значение 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="registration-city">Город*</label>
                        <select name="select" required id="registration-city" class="form-control">
                            <option value="value1">Значение 1</option>
                            <option value="value2">Значение 2</option>
                            <option value="value3">Значение 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="registration-name">ФИО*</label>
                        <input type="text" class="form-control" required id="registration-name">
                    </div>
                    <div class="form-group">
                        <label for="registration-position">Должность</label>
                        <input type="text" class="form-control" id="registration-position">
                    </div>
                    <div class="form-group">
                        <label for="registration-phone">Телефон*</label>
                        <input type="phone" class="form-control" required id="registration-phone">
                    </div>
                    <div class="form-group">
                        <label for="registration-email">Адрес электронной почты*</label>
                        <input type="email" class="form-control" required id="registration-email">
                    </div>
                    <div class="form-group form-check">
                        <a href="">
                            <input type="checkbox" class="form-check-input" required id="registration-consent">
                            <label class="form-check-label" for="registration-consent">Согласие на обработку персональных данных</label>
                        </a>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Отправить">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Enter -->
<div class="modal fade" id="ModalEnter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Вход
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="enter-login">Логин*</label>
                        <input type="text" class="form-control" required id="enter-login">
                    </div>
                    <div class="form-group">
                        <label for="enter-password">Пароль*</label>
                        <input type="password" class="form-control" required id="enter-password">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Войти">
                    <a href="#">Забыли пароль?</a>
                    <a href="#" data-toggle="modal" data-target="#ModalChangePassword">Изменить пароль</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Change password -->
<div class="modal fade" id="ModalChangePassword" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Смена пароля
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="oldPassword">Старый пароль</label>
                        <input type="text" class="form-control" required id="oldPassword">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Новый пароль</label>
                        <input type="password" class="form-control" required id="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="newPasswordRepeet">Повторить новый пароль</label>
                        <input type="password" class="form-control" required id="newPasswordRepeet">
                    </div>
                    <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Сохранить">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Change password -->
<div class="modal fade" id="ModalLk" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>ЗДРАВСТВУЙТЕ!</h6>
                <p>У Вас еще нет Личного кабинета?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <p>Личный кабинет могут создать покупатели, которые разместилит хотя бы один заказ</p>
                <a href="products.html" class="btn btn-primary">Оформить заказ</a>
                <a href="">У меня уже создан личный кабинет</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal describe news -->
<div class="modal fade" id="describe-news" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <h6>Подтвердите, пожалуйста, что не хотите получать рассылку информации о последних новостях</h6>
                    <button type="button" id="describe-yes-news" data-toggle="modal" data-target="#describe-ok-news" data-dismiss="modal">Да</button>
                    <button type="button" class="" id="describe-no-news" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal describe actions -->
<div class="modal fade" id="describe-actions" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Подтвердите, пожалуйста, что не хотите получать рассылку информации по акциям</h6>
                <button type="button" id="describe-yes-actions" data-toggle="modal" data-target="#describe-ok-news" data-dismiss="modal">Да</button>
                <button type="button" class="" id="describe-no-actions" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="describe-ok-news" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <h6>Вы успешно отписаны</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">OK</button>
    </div>
    </div>
</div>
</div>



<!-- Modal buy labels -->
<div class="modal fade" id="labelBuy" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelBuyLongTitle">Форма заказа</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="label-obl">Регион*</label>
                        <select name="select" required id="label-obl" class="form-control">
                            <option value="value1">Значение 1</option>
                            <option value="value2">Значение 2</option>
                            <option value="value3">Значение 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="label-city">Город*</label>
                        <select name="select" required id="label-city" class="form-control">
                            <option value="value1">Значение 1</option>
                            <option value="value2">Значение 2</option>
                            <option value="value3">Значение 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="label-company">Компания</label>
                        <input type="text" class="form-control" id="label-company" required placeholder="Название компании">
                    </div>
                    <div class="form-group">
                        <label for="label-tt">Название торговой точки/сети</label>
                        <input type="text" class="form-control" id="label-tt">
                    </div>
                    Выбор формата ТТ
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadiott" value="option1">
                        <label class="form-check-label" for="inlineRadiott">Гипермаркет</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadiott1" value="option2">
                        <label class="form-check-label" for="inlineRadiott1">Супермаркет</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadiott2" value="option3">
                        <label class="form-check-label" for="inlineRadiott2">Магазин у дома</label>
                    </div>
                    <div class="form-group">
                        <label for="label-kolvo-tt">Количество торговых точек</label>
                        <input type="text" class="form-control" id="label-kolvo-tt">
                    </div>
                    <div class="form-group">
                        <label for="label-labels">Требуемое количество, шт</label>
                        <input type="text" class="form-control" id="label-labels">
                    </div>
                    <a href="form_buy_label.html" class="btn btn-primary" type="submit">Оформить заказ</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal recommendation -->
<div class="modal fade" id="recommendation" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recommendationTitle">Рекомендация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa, delectus est nulla obcaecati reiciendis temporibus? Animi aut autem blanditiis delectus, dolorum eligendi ex labore nulla repudiandae, similique sint, ullam vitae voluptas! Esse, minima.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti qui quibusdam, quod sed sunt? Aliquam error ipsam maxime numquam quis repudiandae voluptas?</p>
                </article>
            </div>
        </div>
    </div>
</div>

<!-- Modal no personal account -->
<div class="modal fade" id="ModalAccount" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Здравствуйте! У Вас еще нет личного кабинета?
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <p>Личный кабинет могут создать покупатели, которые разместили хотя бы один заказ</p>
                    <button type="submit" class="btn btn-primary">Оформить заказ</button>
                <a href="#">У меня уже есть Личный кабинет</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>