<div class="container">
    <ul class="labels_slider">
        <li>
                <img class="img-fluid d-inline-block" src="http://via.placeholder.com/500x300" alt="">
               <div class="d-inline-block ml-5">
                <ul>
                    <li>Название продукта</li>
                    <li>Торговая марка</li>
                    <li>Форма продукта</li>
                    <li>Размер материала</li>
                </ul>
                <!-- Button labels modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#labelBuy">
                    Заказать
                </button>
               </div>
        </li>
        <li>
            <img class="img-fluid d-inline-block" src="http://via.placeholder.com/500x300" alt="">
            <div class="d-inline-block ml-5">
                <ul>
                    <li>Название продукта</li>
                    <li>Торговая марка</li>
                    <li>Форма продукта</li>
                    <li>Размер материала</li>
                </ul>
                <!-- Button labels modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#labelBuy">
                    Заказать
                </button>
            </div>
        </li>
    </ul>
</div>