<div class="container">
    <h3>СМИ о нас</h3>
    <div class="row mb-5">
        <div class="col-12 col-lg-3">
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="col-12 col-lg-9">
            <h6><span>21.04.2018</span>Lorem ipsum dolor sit amet, consectetur.</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias animi aspernatur consectetur consequuntur deserunt dolor eaque eum ipsa ipsam ipsum modi necessitatibus nihil porro quas quos reiciendis repellendus, tempora, ut, vitae voluptatibus.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-3">
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="col-12 col-lg-9">
            <h6><span>21.04.2018</span>Lorem ipsum dolor sit amet, consectetur.</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias animi aspernatur consectetur consequuntur deserunt dolor eaque eum ipsa ipsam ipsum modi necessitatibus nihil porro quas quos reiciendis repellendus, tempora, ut, vitae voluptatibus.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-3">
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="col-12 col-lg-9">
            <h6><span>21.04.2018</span>Lorem ipsum dolor sit amet, consectetur.</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias animi aspernatur consectetur consequuntur deserunt dolor eaque eum ipsa ipsam ipsum modi necessitatibus nihil porro quas quos reiciendis repellendus, tempora, ut, vitae voluptatibus.</p>
        </div>
    </div>
</div>