<div class="container">
    <h1>Акции</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta in iste possimus! A consequuntur cumque dolor exercitationem fugiat in inventore minus quibusdam reiciendis voluptatibus. Architecto at consectetur cum dolore enim eos eveniet quaerat sint voluptate. Amet asperiores consequuntur, doloribus esse exercitationem illo laborum modi molestiae officiis quae quaerat, sapiente.</p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar123" aria-controls="navbar123" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar123">
        <ul class="navbar-nav mr-auto container">
            <li class="nav-item month-action nav-link">Январь</li>
            <li class="nav-item month-action nav-link">Февраль</li>
            <li class="nav-item month-action nav-link">Март</li>
            <li class="nav-item nav-link month-action">Апрель</li>
            <li class="nav-item nav-link month-action">Май</li>
            <li class="nav-item nav-link month-action">Июнь</li>
            <li class="nav-item nav-link month-action">Июль</li>
            <li class="nav-item nav-link month-action">Август</li>
            <li class="nav-item nav-link month-action">Сентябрь</li>
            <li class="nav-item nav-link month-action">Октябрь</li>
            <li class="nav-item nav-link month-action">Ноябрь</li>
            <li class="nav-item nav-link month-action">Декабрь</li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3">
    <select name="" id="selectkat" class="mb-3">
        <option selected disabled>Выберите категорию товара</option>
        <option value="знач1">Категория1</option>
        <option value="знач2">Категория2</option>
        <option value="знач3">Категория3</option>
        <option value="знач4">Категория4</option>
    </select>
        </div>
        <div class="col-12 col-lg-5">
    <div class="addselect_sale-brand d-inline-block ">
        <select name="" class="d-block mb-3 selectbrand">
            <option selected disabled>Выберите торговую марку</option>
            <option value="знач1">Категория1</option>
            <option value="знач2">Категория2</option>
            <option value="знач3">Категория3</option>
            <option value="знач4">Категория4</option>
        </select>
    </div>
    <button id="add_sale-brand" class="position-absolute">Добавить торговую марку</button>
        </div>
        <div class="col-12 col-lg-4">
    <div class="addselect_product d-inline-block">
        <select name="" class="d-block mb-3 selectproduct">
            <option selected disabled>Выберите продукт</option>
            <option value="знач1">Категория1</option>
            <option value="знач2">Категория2</option>
            <option value="знач3">Категория3</option>
            <option value="знач4">Категория4</option>
        </select>
    </div>
    <button id="add_product" class="position-absolute">Добавить продукт</button>
        </div>
    </div>
    <button class="btn btn-light border d-block ml-auto" type="submit">Применить</button>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6">
            @@include('_comp_action.html')
        </div>
        <div class="col-12 col-md-6">
            @@include('_comp_action.html')
        </div>
        <div class="col-12 col-md-6">
            @@include('_comp_action.html')
        </div>
        <div class="col-12 col-md-6">
            @@include('_comp_action.html')
        </div>
    </div>
    <h6 class="text-center">Подпишитесь и будьте всегда <br> в курсе самых выгодных предложений</h6>
    <div class="text-center">
        <input type="email" size="25" id="email" aria-describedby="email" placeholder="Введите e-mail">
        <button class="btn btn-light" type="submit">Подписаться</button>
    </div>
    <a href="" type="button" class="btn btn-primary d-block mt-2 ml-auto mr-auto" style="max-width: 290px" data-toggle="modal" data-target="#describe-news">Отписаться от рассылки новостей</a>

</div>
