<div class="row align-items-center">
    <a class="col-3 col-lg-2 text-center" href="main.html"><img class="img-fluid" src="http://via.placeholder.com/100x100" alt=""></a>
    <a class="col-3 d-lg-none text-center" data-toggle="modal" data-target="#ModalEnter"><img src="img/avatar.png" alt=""></a>
    <a class="col-3 d-lg-none text-center" data-toggle="modal" data-target="#exampleModalCenter">
        <img src="/img/telephone.png" alt="">
    </a>
    <form class="d-lg-none col-3">
        <input class="input-search" type="text" name="search" id="input-search" placeholder="Искать здесь...">
        <button class="search-button" type="submit"><img src="/img/search.png" alt=""></button>
    </form>
    <div class="d-none d-lg-inline-block col-lg-5 text-center">
        <img class="img-fluid" src="http://via.placeholder.com/100x50" alt="">
        <img class="img-fluid" src="http://via.placeholder.com/100x50" alt="">
        <img class="img-fluid" src="http://via.placeholder.com/100x50" alt="">
        <img class="img-fluid" src="http://via.placeholder.com/100x50" alt="">
        <img class="img-fluid" src="http://via.placeholder.com/100x50" alt="">
    </div>
    <div class="d-none col-lg-3 text-center d-lg-inline-block">
        <a class="d-none d-lg-block" href="@@include('_include_phone_formate.html')">@@include('_include_phone.html')</a><br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary d-none d-lg-inline-block" data-toggle="modal" data-target="#exampleModalCenter">
            Заказать обратный звонок
        </button><br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary d-none d-lg-inline-block" data-toggle="modal" data-target="#ModalCenter">
        Оставить отзыв
    </button>
    </div>
    <div class="d-none d-lg-block col-lg-2 text-center">
        <a type="button" href="#" class="btn">
            Оформить заказ
        </a>
    </div>
</div>