<div class="container">
<ul class="brand-mini-slider">
    <li class="text-center">
        <a href="">Сырная династия</a>
    </li>
    <li class="text-center">
        <a href="">Мир вкуса</a>
    </li>
    <li class="text-center">
        <a href="">Кобринские сыры</a>
    </li>
</ul>
</div>