<div class="container">
    <ul class="products-slider">
        <li class="">
            <h4>Наименование позиции1</h4>
            <a href="card_product.html"><img class="img-fluid d-inline-block" src="http://via.placeholder.com/300x300" alt=""></a>
            <div class="text-slide d-inline-block">
           <ul>
               <li>Сорт сыра</li>
               <li>Производитель</li>
               <li>Линейка</li>
               <li>Жирность</li>
               <li>Температура хванения</li>
           </ul>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere qui quod sed tenetur voluptas voluptates.</p>
        </li>
        <li class="">
            <h4>Наименование позиции2</h4>
            <img class="img-fluid d-inline-block" src="http://via.placeholder.com/300x300" alt="">
            <div class="text-slide d-inline-block">
                <ul>
                    <li>Сорт сыра</li>
                    <li>Производитель</li>
                    <li>Линейка</li>
                    <li>Жирность</li>
                    <li>Температура хванения</li>
                </ul>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere qui quod sed tenetur voluptas voluptates.</p>
        </li>
        <li class="">
            <h4>Наименование позиции2</h4>
            <img class="img-fluid d-inline-block" src="http://via.placeholder.com/300x300" alt="">
            <div class="text-slide d-inline-block">
                <ul>
                    <li>Сорт сыра</li>
                    <li>Производитель</li>
                    <li>Линейка</li>
                    <li>Жирность</li>
                    <li>Температура хванения</li>
                </ul>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere qui quod sed tenetur voluptas voluptates.</p>
        </li>
    </ul>
</div>