<div class="container-fluid">
    <ul class="main-slider">
        <li class="">
            <img class="img-fluid" src="http://via.placeholder.com/2000x600" alt="">
            <!--<div class="text-slide">-->
            <!--<h5></h5>-->
            <!--</div>-->
        </li>
        <li class="">
            <img class="img-fluid " src="http://via.placeholder.com/2000x600" alt="">
        </li>
        <li class="">
            <img class="img-fluid" src="http://via.placeholder.com/2000x600" alt="">
        </li>
    </ul>
</div>