<div class="container">
    <h1>Наши партнеры</h1>
    <ul class="partners-slider">
        <li>
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
            <p>Lorem ipsum dolor.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendation">
                Рекомендация
            </button>
        </li>
        <li>
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
            <p>Lorem ipsum dolor.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendation">
                Рекомендация
            </button>
        </li>
        <li>
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
            <p>Lorem ipsum dolor.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendation">
                Рекомендация
            </button>
        </li>
        <li>
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
            <p>Lorem ipsum dolor.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendation">
                Рекомендация
            </button>
        </li>
        <li>
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
            <p>Lorem ipsum dolor.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendation">
                Рекомендация
            </button>
        </li>
        <li>
            <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
            <p>Lorem ipsum dolor.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendation">
                Рекомендация
            </button>
        </li>
    </ul>
</div>