<div class="card-action border mb-4">
    <a href="detail_action.html">
<div class="row">
    <div class="col-6 text-center">
        <h5>Название акции</h5>
        <h6>Продукт</h6>
        <p>Ценовые условия/условия кратко</p>
        <div class="clock-action">
            <ul class="countdown">
                <li>
                    <span class="days">00</span>
                    <div class="days_ref">дней</div>
                </li>
                <li class="seperator">.</li>
                <li>
                    <span class="hours">00</span>
                    <div class="hours_ref">часов</div>
                </li>
                <li class="seperator">:</li>
                <li>
                    <span class="minutes">00</span>
                    <div class="minutes_ref">минут</div>
                </li>
                <li class="seperator">:</li>
                <li>
                    <span class="seconds">00</span>
                    <div class="seconds_ref">секунд</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <img class="img-fluid" src="http://via.placeholder.com/500x500" alt="">
    </div>
</div>
    </a>
</div>