    <ul>
        <li>Название тт/сети</li>
        <li>Формат тт</li>
        <li>Логистика</li>
        <li>Общее количество тт</li>
        <li>Количество тт, участвующих в акциях</li>
    </ul>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th rowspan="2">Наименование продукта</th>
                <th rowspan="2">Форма продукта</th>
                <th rowspan="2">Тип акции</th>
                <th colspan="2">Период действия акции</th>
                <th colspan="2">Период действия акционной цены</th>
                <th colspan="2">Регулярный объем продаж по акционному продукту</th>
                <th colspan="2">Объем продукции на акцию</th>
                <th colspan="4">Расходы по контракту с сетью</th>
                <th colspan="2">Отпускная цена в сеть, руб за ед</th>
                <th colspan="2">Цена полки, руб за ед</th>
                <th>Фото</th>
                <th colspan="2">Скидка на акцию %</th>
            </tr>
            <tr>
                <th>с</th>
                <th>по</th>
                <th>с</th>
                <th>по</th>
                <th>шт</th>
                <th>кг</th>
                <th>Фиксированный</th>
                <th>Нефиксированный</th>
                <th>Коммерческие условия %</th>
                <th>Расходы на доставку в сеть %</th>
                <th>Расходы на доставку до склада дистрибьютора %</th>
                <th>Прочие расходы</th>
                <th>Регулярная</th>
                <th>Акционная</th>
                <th>Регулярная</th>
                <th>Акционная</th>
                <th>Прикрепленный файл</th>
                <th>От дистрибьютора</th>
                <th>От сети</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Продукт №1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Продукт №2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

