<div class="container">
    <ul class="brand-mini-slider">
        <li class="text-center">
            <a href="">Сыр</a>
        </li>
        <li class="text-center">
            <a href="">Сметана</a>
        </li>
        <li class="text-center">
            <a href="">Творог</a>
        </li>
    </ul>
</div>