<div class="row">
    <div class="col-12 col-lg-6 mb-2">
        <span>Ваш город:<a data-toggle="modal" data-target="#modalTow" id="tow" href="#"> Волгоград</a></span>
        <!--<div>-->
            <!--<div>Мы угадали ваш город?</div>-->
            <!--<span>Да</span>-->
            <!--<span><a data-toggle="modal" data-target="#modalTow" href="#">Нет, выбрать другой</a></span>-->
        <!--</div>-->
    </div>
    <div class="modal fade" id="modalTow" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                        <div class="form-group">
                            <span>Ваш город: Волгоград</span>
                        </div>
                        <input id="cityModalButtonYes" type="button" class="btn btn-primary" value="Да, это мой город" data-dismiss="modal">
                        <input id="cityModalButtonNo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" href="#" value="Нет, выбрать другой">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal city -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog"
         aria-labelledby="examplemodalcentertitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" type="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">Выберите Ваш город</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="search">
                            <input class="w-75" name="s" placeholder="Введите город" type="text" id="city-search">
                            <input type="submit" value="Поиск">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inlineRadio" id="Radio1" value="option1">
                            <label class="form-check-label" for="Radio1">Волгоград</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inlineRadio" id="Radio2" value="option2">
                            <label class="form-check-label" for="Radio2">Москва</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inlineRadio" id="Radio3" value="option3">
                            <label class="form-check-label" for="Radio3">Самара</label>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Выбрать">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none d-lg-block col-6 text-right">
        <a style="cursor: pointer" data-toggle="modal" data-target="#ModalEnter">Войти</a>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
            aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Компания</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="about_us.html">О компании</a>
                    <a class="dropdown-item" href="menedgment.html">Менеджмент</a>
                    <a class="dropdown-item" href="cmi_about_us.html">СМИ о нас</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Производители</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="manufactures.html">Кобринский маслодельно-сыродельрный завод</a>
                    <a class="dropdown-item" href="manufactures.html">Пружанский молочный комбинат</a>
                    <a class="dropdown-item" href="manufactures.html">Венета</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ckk.html">Служба контроля качества</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cabinet.html">Личный кабинет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacts.html">Контакты</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid d-lg-none">
    <div id="sidebar">
        <ul>
            <li><a href="#">Компания</a></li>
            <li><a href="#">Производители</a></li>
            <li><a href="#">Служба контроля качества</a></li>
            <li><a href="#">Партнерам</a></li>
            <li><a href="#">Нас рекомендуют</a></li>
        </ul>
    </div>
    <div class="main-content">
        <button class="navbar-toggler left-slide-menu" type="button" data-toggle=".contain" data-target="#navbar1"
                aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation" id="sidebar-toggle"><img
                src="/img/menu.png" alt="">
        </button>
    </div>
</div>

