<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar12" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar12">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Сырная Династия</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Мир вкуса</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Кобринские сыры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Щедрая масленица</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">VINETTA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Все торговые марки</a>
            </li>
        </ul>
    </div>
</nav>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur eligendi error ipsum rem. Distinctio eaque
        earum esse harum ipsam iste perferendis quam quasi sit voluptatibus! Amet autem debitis dolor doloremque eveniet
        exercitationem ipsam ratione soluta sunt. Accusantium, ad asperiores beatae ex praesentium vitae voluptatem.</p>
</div>