<h3>Форма согласования акции в торговой точке</h3>
<form>
    <div class="form-group">
        <label for="cooperation-id">ID</label>
        <input type="text" class="form-control" required id="cooperation-id">
    </div>
    <div class="form-group">
        <label for="cooperation-company">Компания*</label>
        <input type="text" class="form-control" required id="cooperation-company">
    </div>
    <div class="form-group">
        <label for="cooperation-obl">Регион*</label>
        <select name="select" required id="cooperation-obl" class="form-control">
            <option value="value1">Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cooperation-city">Город*</label>
        <select name="select" required id="cooperation-city" class="form-control">
            <option value="value1">Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cooperation-name">Название торговой точки/сети*</label>
        <input type="text" class="form-control" required id="cooperation-name">
    </div>
    <div class="mb-3"> Выбор формата ТТ
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="giper" value="option1">
        <label class="form-check-label" for="giper">
            Гипермаркет
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="super" value="option2">
        <label class="form-check-label" for="super">
            Супермаркет
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="under_home" value="option3">
        <label class="form-check-label" for="under_home">
            Магазин у дома
        </label>
    </div>
    </div>
    <div class="mb-3"> Выбор логистики
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="center" value="option1">
            <label class="form-check-label" for="center">
                Распределительный центр
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="a_store" value="option2">
            <label class="form-check-label" for="a_store">
                Торговая точка
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="cooperation-position">Общее количество торговых точек</label>
        <input type="text" class="form-control" required id="cooperation-position">
    </div>
    <div class="form-group">
        <label for="cooperation-phone">Количество торговых точек, участвующих в акции</label>
        <input type="phone" class="form-control" required id="cooperation-phone">
    </div>
    <div class="form-group">
        <label for="cooperation-product">Наименование продуктов</label>
        <select name="select" required id="cooperation-product" class="form-control">
            <option value="value1">Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cooperation-form">Форма продукта</label>
        <select name="select" required id="cooperation-form" class="form-control">
            <option value="value1">Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
    </div>
    <div>Тип акции
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="yellow" value="option1">
            <label class="form-check-label" for="yellow">
                Желтый ценник
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="catalog" value="option2">
            <label class="form-check-label" for="catalog">
                Каталог
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="1+1" value="option2">
            <label class="form-check-label" for="1+1">
                1+1
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="in-out" value="option2">
            <label class="form-check-label" for="in-out">
                in-out
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="other" value="option3">
            <label class="form-check-label d-flex" for="other">
                Другое
            </label>
            <textarea name="textReview" id="other-text" cols="40" rows="4"></textarea>
        </div>
    </div>
<div class="mb-3">
    Период действия акции
    <span> c</span>
    <!--<input type="date" required name="min">-->
    <input id="date_timepicker_start" type="text">
    <span> по</span>
    <!--<input type="date" required name="max">-->
    <input id="date_timepicker_end" type="text">
</div>
    <div class="mb-3">
        Период действия акционной цены
        <span> c</span>
        <!--<input type="date" required name="min">-->
        <input id="date_action_start" type="text">
        <span> по</span>
        <!--<input type="date" required name="max">-->
        <input id="date_action_end" type="text">
    </div>
    <div class="mb-3">
        Регулярный объем продаж по акционным продуктам в среднем
        <div class="form-group">
            <label for="cooperation-st">шт</label>
            <input type="text" class="form-control" required id="cooperation-st">
        </div>
        <div class="form-group">
            <label for="cooperation-kg">кг</label>
            <input type="text" class="form-control" required id="cooperation-kg">
        </div>
    </div>
<div>
    Объем продукции на акцию
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="fix" value="option2">
        <label class="form-check-label" for="fix">
            Фиксированнный
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="notfix" value="option2">
        <label class="form-check-label" for="notfix">
            Нефиксированный
        </label>
        <input type="text" class="form-control">
    </div>
</div>
    <div>
        Расходы по контракту с сетью
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="comerch" value="option2">
            <label class="form-check-label" for="comerch">
                Коммерческие условия, %
            </label>
            <input type="text" class="form-control">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="tochain" value="option2">
            <label class="form-check-label" for="tochain">
                Расходы на доставку в сеть, %
            </label>
            <input type="text" class="form-control">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="todistrib" value="option2">
            <label class="form-check-label" for="todistrib">
                Расходы на доставку до склада дистрибьютера, %
            </label>
            <input type="text" class="form-control">
        </div>
        <div class="form-check mt-3">
            <input class="form-check-input" type="radio" name="exampleRadios" id="other_costs" value="option3">
            <label class="form-check-label" style="position: relative; top: -80px;" for="other_costs">
                Прочие расходы
            </label>
            <textarea name="textReview" cols="40" rows="4"></textarea>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Регулярная</th>
            <th>Акционная (расчетная)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Отпускная цена в сеть, руб за единицу</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Цена полки, руб за единицу</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <label for="file1">Прикрепить файл</label>
        <input type="file" class="form-control" id="file1">
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>От дистрибьютора</th>
            <th>От сети</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Скидка на акцию</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
        </tbody>
    </table>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" required id="robot">
        <label class="form-check-label" for="robot">Я не робот</label>
    </div>
    <button type="submit" class="btn btn-primary d-block m-auto">Отправить</button>
</form>
</div>