<div class="container">
    <h3>Менеджмент</h3>
    <div class="row">
        <div class="col-12 col-lg-3">
            <img class="img-fluid" src="http://via.placeholder.com/200x300" alt="">
            <p>Lorem ipsum.</p>
        </div>
        <div class="col-12 col-lg-3">
            <img class="img-fluid" src="http://via.placeholder.com/200x300" alt="">
            <p>Lorem ipsum.</p>
        </div>
        <div class="col-12 col-lg-3">
            <img class="img-fluid" src="http://via.placeholder.com/200x300" alt="">
            <p>Lorem ipsum.</p>
        </div>
        <div class="col-12 col-lg-3">
            <img class="img-fluid" src="http://via.placeholder.com/200x300" alt="">
            <p>Lorem ipsum.</p>
        </div>
    </div>
</div>