<table class="table table-bordered">
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Продукт</th>
        <th>Наименование продукта</th>
        <th>Производитель</th>
        <th>Форма товара</th>
        <th>Упаковка единицы товара</th>
        <th>Вес единицы товара</th>
        <th>Количество шт в коробке</th>
        <th>Вес коробки, кг</th>
        <th>Единица измерения</th>
        <th>Цена за единицу, руб</th>
        <th>Цена со скидкой за единицу, руб</th>
        <th>Количество коробок*</th>
        <th>Итоговая стоимость, руб</th>
        <th>Ваша выгода</th>
        <th>Удалить из заказа</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Сыр</td>
        <td>Черный принц</td>
        <td>Кобрин</td>
        <td>Круг</td>
        <td>Пленка</td>
        <td>9 кг</td>
        <td>2</td>
        <td>18</td>
        <td>кг</td>
        <td>500</td>
        <td>450</td>
        <td>3</td>
        <td>24300</td>
        <td>2700</td>
        <td>x</td>
    </tr>
    </tbody>
</table>