<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
            aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navDropdown1" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Продукция</a>
                <div class="dropdown-menu" aria-labelledby="navDropdown1">
                    <a class="dropdown-item" href="#">Сыр</a>
                    <a class="dropdown-item" href="#">Продукт плавленый с сыромn</a>
                    <!--<div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="products.html">Весь каталог продукции</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Торговые марки</a>
                <div class="dropdown-menu" aria-labelledby="navDropdown2">
                    <a class="dropdown-item" href="#">Сырная Династия</a>
                    <a class="dropdown-item" href="#">Мир вкуса</a>
                    <a class="dropdown-item" href="#">Корбинские сыры</a>
                    <a class="dropdown-item" href="#">Щедрая масленица</a>
                    <a class="dropdown-item" href="#">Vinetta</a>
                    <a class="dropdown-item" href="brands_with_products.html">Все торговые марки</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="actions.html">Акции</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="our_partners.html">Нас рекомендуют</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navDropdown3" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Партнерам</a>
                <div class="dropdown-menu" aria-labelledby="navDropdown3">
                    <a class="dropdown-item" href="cooperation.html">Сотрудничество</a>
                    <a class="dropdown-item" href="marketing.html">Маркетинговая поддержка</a>
                    <a class="dropdown-item" href="souvenirs.html">Каталог рекламно-сувенирной продукции</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" id="search" placeholder="Поиск" aria-label="Найти">
            <input class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Поиск">
        </form>
    </div>
</nav>
