<div class="container d-md-none">
    <h1>Новости</h1>
    <ul class="news-slider">
        <li>
            <a href="news_detail.html">
            <img class="img-fluid d-block m-auto" src="http://via.placeholder.com/300x200" alt="">
            <p>21.04.2018</p>
            <p>Lorem ipsum dolor sit amet.</p>
            </a>
        </li>
        <li>
            <a href="news_detail.html">
            <img class="img-fluid d-block m-auto" src="http://via.placeholder.com/300x200" alt="">
            <p>21.04.2018</p>
            <p>Lorem ipsum dolor sit amet.</p>
            </a>
        </li>
        <li>
            <a href="news_detail.html">
            <img class="img-fluid d-block m-auto" src="http://via.placeholder.com/300x200" alt="">
            <p>21.04.2018</p>
            <p>Lorem ipsum dolor sit amet.</p>
            </a>
        </li>
        <li>
            <a href="news_detail.html">
            <img class="img-fluid d-block m-auto" src="http://via.placeholder.com/300x200" alt="">
            <p>21.04.2018</p>
            <p>Lorem ipsum dolor sit amet.</p>
            </a>
        </li>
    </ul>
</div>