<table class="table table-bordered">
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Название рекламно-сувенирного продукта</th>
        <th>Торговая марка</th>
        <th>Название продукта</th>
        <th>Форма товара</th>
        <th>Размер материала, мм</th>
        <th>Количество, шт</th>
        <th>Название ТТ</th>
        <th>Форма ТТ</th>
        <th>Количество ТТ</th>
        <th>Удалить из заказа</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Этикетка</td>
        <td>Сырная Династия</td>
        <td>Черный принц</td>
        <td>Круг</td>
        <td>270</td>
        <td>1000</td>
        <td>Карусель</td>
        <td>Супермаркет</td>
        <td>10</td>
        <td>x</td>
    </tr>
    </tbody>
</table>