<div class="d-lg-none container mt-3">
    <a class="d-inline-block offset-1" href="@@include('_include_phone_formate.html')">@@include('_include_phone.html')</a>
    <a type="button" href="#" class="btn d-inline-block">
        Оформить заказ
    </a>
    <div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td><a href="#">Продукция</a></td>
                <td><a href="#">Торговые марки</a></td>
            </tr>
            <tr>
                <td><a href="#">Акции</a></td>
                <td><a href="#">Партнерам</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>