<div class="container">
    <h3>Топ-менеджеры</h3>
    <div class="border row mb-3">
        <div class="col-12 col-lg-4">
            <img class="img-fluid" src="http://via.placeholder.com/200x300" alt="">
        </div>
        <div class="col-12 col-lg-8">
            <h5>Lorem ipsum.</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo iste praesentium voluptas.</p>
        </div>
    </div>
    <div class="border row mb-3">
        <div class="col-12 col-lg-4">
            <img class="img-fluid" src="http://via.placeholder.com/200x300" alt="">
        </div>
        <div class="col-12 col-lg-8">
            <h5>Lorem ipsum.</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo iste praesentium voluptas.</p>
        </div>
    </div>
</div>