<h3>Оставить заявку на сотрудничество</h3>
<form>
    <div class="form-group">
        <label for="cooperation-company">Компания*</label>
        <input type="text" class="form-control" required id="cooperation-company">
    </div>
    <div class="form-group">
        <label for="cooperation-inn">ИНН*</label>
        <input type="text" class="form-control" required id="cooperation-inn">
    </div>
    <div class="form-group">
        <label for="cooperation-obl">Регион*</label>
        <select name="select" required id="cooperation-obl" class="form-control">
            <option value="value1">Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cooperation-city">Город*</label>
        <select name="select" required id="cooperation-city" class="form-control">
            <option value="value1">Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cooperation-name">ФИО*</label>
        <input type="text" class="form-control" required id="cooperation-name">
    </div>
    <div class="form-group">
        <label for="cooperation-position">Должность</label>
        <input type="text" class="form-control" id="cooperation-position">
    </div>
    <div class="form-group">
        <label for="cooperation-phone">Телефон*</label>
        <input type="phone" class="form-control" required id="cooperation-phone">
    </div>
    <div class="form-group">
        <label for="cooperation-email">Адрес электронной почты*</label>
        <input type="email" class="form-control" required id="cooperation-email">
    </div>
    <div class="form-group form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="cooperation-buy"  value="option0">
            <label class="form-check-label" for="cooperation-buy">Хочу закупать у Вас продукцию</label>
    </div>
    <div class="form-want-buy">
        <div class="form-group">
            <label for="cooperation-square">Площадь охлажденного склада, м.кв.</label>
            <input type="text" class="form-control" id="cooperation-square">
        </div>
        <div class="form-group">
            <label for="cooperation-round">Среднее количество маршрутов на доставку в день</label>
            <input type="text" class="form-control" id="cooperation-round">
        </div>
        <div class="form-group">
            <label for="cooperation-sale_agent">Количество торговых представителей общего прайса</label>
            <input type="phone" class="form-control" id="cooperation-sale_agent">
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-chain">
                        <label class="form-check-label" for="cooperation-chain">Сети</label>
                </div>
                <div class="form-group">
                    <label for="cooperation-sum">Количество сетей, с которыми есть контракты</label>
                    <input type="text" class="form-control" id="cooperation-sum">
                </div>
                <div class="form-group">
                    Торгуете ли на текущий момент
                    <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="cooperation-manufacturer1">
                            <label class="form-check-label" for="cooperation-manufacturer1">Продукцией ОАО Кобринского МЗ</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-manufacturer2">
                        <label class="form-check-label" for="cooperation-manufacturer2">Продукцией ОАО Пружанского МЗ</label>
                </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-manufacturer3">
                        <label class="form-check-label" for="cooperation-manufacturer3">Продукцией ОАО Венета</label>
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-retail">
                        <label class="form-check-label" for="cooperation-retail">Розница</label>
                </div>
                <div class="form-group">
                    <label for="cooperation-retail_sum">Количество ТТ на обслуживании АКБ</label>
                    <input type="text" class="form-control" id="cooperation-retail_sum">
                </div>
                <div class="form-group">
                    <label for="cooperation-retail_own_sum">Количество собственных ТТ</label>
                    <input type="text" class="form-control" id="cooperation-retail_own_sum">
                </div>
                <div class="form-group">
                    Торгуете ли на текущий момент
                    <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="cooperation-retail_manufacturer1">
                            <label class="form-check-label" for="cooperation-retail_manufacturer1">Продукцией ОАО Кобринского МЗ</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-retail_manufacturer2">
                        <label class="form-check-label" for="cooperation-retail_manufacturer2">Продукцией ОАО Пружанского МЗ</label>
                </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-retail_manufacturer3">
                        <label class="form-check-label" for="cooperation-retail_manufacturer3">Продукцией ОАО Венета</label>
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-wholesale">
                        <label class="form-check-label" for="cooperation-wholesale">Опт</label>
                </div>
                <div class="form-group">
                    <label for="cooperation-wholesale_sum">Количество клиентов молочно-сырного направления</label>
                    <input type="text" class="form-control" id="cooperation-wholesale_sum">
                </div>
                <div class="form-group">
                    Торгуете ли на текущий момент
                    <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="cooperation-wholesale_manufacturer1">
                            <label class="form-check-label" for="cooperation-wholesale_manufacturer1">Продукцией ОАО Кобринского МЗ</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-wholesale_manufacturer2">
                        <label class="form-check-label" for="cooperation-wholesale_manufacturer2">Продукцией ОАО Пружанского МЗ</label>
                </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-wholesale_manufacturer3">
                        <label class="form-check-label" for="cooperation-wholesale_manufacturer3">Продукцией ОАО Венета</label>
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-horeca">
                        <label class="form-check-label" for="cooperation-horeca">Horeca</label>
                </div>
                <div class="form-group">
                    <label for="cooperation-horeca_sum">Количество клиентов молочно-сырного направления</label>
                    <input type="text" class="form-control" id="cooperation-horeca_sum">
                </div>
                <div class="form-group">
                    Торгуете ли на текущий момент
                    <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="cooperation-horeca_manufacturer1">
                            <label class="form-check-label" for="cooperation-horeca_manufacturer1">Продукцией ОАО Кобринского МЗ</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-horeca_manufacturer2">
                        <label class="form-check-label" for="cooperation-horeca_manufacturer2">Продукцией ОАО Пружанского МЗ</label>
                </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="cooperation-horeca_manufacturer3">
                        <label class="form-check-label" for="cooperation-horeca_manufacturer3">Продукцией ОАО Венета</label>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-check form-group">
        <input class="form-check-input" type="radio" name="exampleRadios" id="supply" value="option1">
        <label class="form-check-label" for="supply">
            Хочу поставлять Вам продукцию
        </label>
    </div>
    <div class="form-check form-group">
        <input class="form-check-input" type="radio" name="exampleRadios" id="service" value="option2">
        <label class="form-check-label" for="service">
            Хочу предложить Вам услуги
        </label>
    </div>
    <div class="form-check form-group">
        <input class="form-check-input" type="radio" name="exampleRadios" id="work" value="option3">
        <label class="form-check-label" for="work">
            Хочу у Вас работать
        </label>
    </div>
    <div class="form-group">
        <label class="form-check-label" for="mail">Сообщение</label>
        <textarea name="textReview" id="mail" cols="40" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="file1">Прикрепить файл</label>
        <input type="file" class="form-control" id="file1">
    </div>
    <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" required id="robot">
            <label class="form-check-label" for="robot">Я не робот</label>
    </div>
    <div class="form-group form-check">
        <a href="">
            <input type="checkbox" class="form-check-input" required id="cooperation-consent">
            <label class="form-check-label" for="cooperation-consent">Согласие на обработку персональных данных</label>
        </a>
    </div>
    <button type="submit" class="btn btn-primary d-block m-auto">Отправить</button>
</form>
</div>