<div class="container">
    <img class="img-fluid d-block m-auto" src="http://via.placeholder.com/400x300" alt="">
    <p>21.04.2018</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At earum est ex exercitationem hic iusto laborum nemo nisi nobis quasi qui quis quod quos recusandae, repellendus sapiente, veritatis. Ab ad consequatur culpa et eum expedita fuga fugit, ipsam iusto, labore modi molestias nam necessitatibus nesciunt nobis quod recusandae repudiandae sint sunt tenetur ullam velit veritatis.</p>
</div>