<div class="container">
    <h1>Личный кабинет</h1>
    <img class="d-block m-auto" src="http://via.placeholder.com/200x250" alt="">
    <div class="row">
        <div class="col-12 col-lg-4">
            <h6>Фамилия Имя Отчество</h6>
            <ul>
                <li>Компания</li>
                <li>ИНН</li>
                <li>Регион</li>
                <li>Город</li>
            </ul>
            <a href="">Редактировать персональные данные</a>
        </div>
        <div class="col-12 col-lg-4">
          <h6>Номер телефона</h6>
            <p>Основной</p>
            <p>8-9640-340-45</p>
            <p>Дополнительный</p>
           <p>95345232455</p>
            <a href="">Редактировать список</a>
        </div>
        <div class="col-12 col-lg-4">
            <h6>Адрес электронной почты</h6>
            <p>ghhhri@mail.ru</p>
            <a href="">Изменить адрес почты</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-lg-2 text-center border">
            <h6>Статус клиента</h6>
            <p>Дистрибьютор</p>
        </div>
        <div class="col-12 col-lg-2 text-center border">
            <h6 class="text-center">Внимание!</h6>
            <p>Есть задолженность по оплате на сумму <br>00000000 рублей</p>
            <p>Количество дней просрочки:<br> 000</p>
        </div>
        <div class="col-12 col-lg-2 text-center border">
            <a class="tab_link" href="01"><h6 class="text-center">История Заказов продукции</h6></a>
        </div>
        <div class="col-12 col-lg-2 text-center border">
            <a class="tab_link" href="02"><h6 class="text-center">История Заказов Рекламной продукции</h6></a>
        </div>
        <div class="col-12 col-lg-2 text-center border">
            <a class="tab_link" href="03"><h6 class="text-center">Заявки на проведение акции в торговой точке</h6></a>
        </div>
        <div class="col-12 col-lg-2 text-center border">
            <h6>Ваши подписки</h6>
            <p>Новости</p>
            <a href="" data-toggle="modal" data-target="#describe-news">Отписаться</a>
            <p>Акции</p>
            <a href="" data-toggle="modal" data-target="#describe-actions">Отписаться</a>
        </div>
    </div>

</div>
