<div class="container">
    <h1>Кобринский маслодельно-сыродельный завод</h1>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dignissimos dolor dolores eaque id illum, incidunt labore magni minima nesciunt nostrum, numquam, reprehenderit totam! Atque, commodi, consequuntur cumque deleniti distinctio, dolore fugiat id illo ipsam minima nesciunt nostrum reiciendis rem similique sit velit voluptatibus! Delectus enim fugit hic illo neque.</p>
        <p><img class="d-inline-block img-fluid float-left m-5" src="http://via.placeholder.com/300x300" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto aut consequatur cupiditate delectus dolor doloremque ducimus enim est exercitationem illum in itaque iure magnam magni officiis omnis optio praesentium quae quas, quasi quisquam rem sint temporibus vel velit vero.</p>
    </article>
    <a href="#">www.kobrincheese.com/ru/</a>
    <a href="">(+375 1642) 2-23-21</a>
    <p>Республика Беларусь
        225304, Брестская область
        г. Кобрин, ул. Советская, 128</p>
</div>