<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="delivery_geography.html"><h4 class="text-center">География поставок</h4></a>
            <div class="row-fluid">
                <div id="miniMap"></div>
                <!--<div class="span8">-->
                    <!--<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-12 col-md-4">
            <a class="text-center" href="news.html"><h4>Новости</h4></a>
            <ul class="news-slider">
                <li class="">
                    <a href="news_detail.html">
                    <img class="d-block m-auto" src="http://via.placeholder.com/200x200" alt="">
                    <div>
                        <p>24.10.2018</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eum expedita inventore porro soluta!</p>
                    </div>
                    </a>
                </li>
                <li class="">
                    <a href="news_detail.html">
                    <img class="d-block m-auto" src="http://via.placeholder.com/200x200" alt="">
                    <div>
                        <p>24.10.2018</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eum expedita inventore porro soluta!</p>
                    </div>
                    </a>
                </li>
                <li class="">
                    <a href="news_detail.html">
                    <img class="d-block m-auto" src="http://via.placeholder.com/200x200" alt="">
                    <div>
                        <p>24.10.2018</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eum expedita inventore porro soluta!</p>
                    </div>
                    </a>
                </li>
            </ul>
<h6>Подпишитесь и будьте всегда в курсе самых выгодных предложений</h6>
            <div class="text-center">
                <input type="email" size="25" id="email" aria-describedby="email" placeholder="Введите e-mail">
                <button class="btn btn-light" type="submit">Подписаться</button>
            </div>
            <a href="" type="button" class="btn btn-primary d-lg-inline-block" data-toggle="modal" data-target="#describe-news">Отписаться от рассылки новостей</a>

        </div>
        <div class="col-12 col-md-2">
            <h6 class="text-center">Внимание!</h6>
            <p>Есть задолженность по оплате на сумму <br>00000000 рублей 00 копеек</p>
        </div>
    </div>
</div>