<div class="container card_product">
  <h1>Сыр Черный принц</h1>
    <div class="row">
        <div class="col-12 col-lg-9">
            <img class="mb-5 d-block img-fluid img_product" src="http://via.placeholder.com/800x600" alt="">
            <ul class="align-top p-0 d-none d-lg-block">
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Круг</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Колесо</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Брус</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Квадрат</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Сегмент</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Кубик</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Фасовка <br>сегмент</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Фасовка <br>слайс</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Фасовка <br>кусок</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Евроблок</p>
                </li>
            </ul>
            <ul class="align-top p-0 d-lg-none packing-slider">
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Круг</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Колесо</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Брус</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Квадрат</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Сегмент</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Кубик</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Фасовка <br>сегмент</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Фасовка <br>слайс</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Фасовка <br>кусок</p>
                </li>
                <li class="d-inline-block align-top">
                    <img src="http://via.placeholder.com/60x60" alt="">
                    <p>Евроблок</p>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3">
<ul class="characters_product">
    <li>Сорт сыра</li>
    <li>Производитель</li>
    <li>Страна производителя</li>
    <li>Торговая марка</li>
    <li>Линейка</li>
    <li>Состав продукта</li>
    <li>Жирность</li>
    <li>Белки</li>
    <li>Жиры</li>
    <li>Энергетическая ценность, Ккал</li>
    <li>Срок годности</li>
    <li>Температура хранения</li>
</ul>
            <ul>
                <li class="nav-item d-inline-block packing">200 г</li>
                <li class="nav-item d-inline-block packing">300 г</li>
                <li class="nav-item d-inline-block packing">400 г</li>
            </ul>
            <a href="form_buy.html" type="submit" class="btn btn-light">Заказать</a>
        </div>
    </div>


</div>