<div class="container">
    <h1>Контакты</h1>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h4>Центральный офис</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam asperiores atque blanditiis commodi corporis cum dignissimos ex magni nam non officiis omnis pariatur placeat quae, qui quidem recusandae saepe totam.</p>
        </div>
        <div class="col-12 col-lg-6">

            <div id="map" style="width: 100%;height: 300px">
            </div>
            <script type="text/javascript">
                ymaps.ready(init);
                var myMap,
                    myPlacemark;

                function init(){
                    myMap = new ymaps.Map ("map", {
                        center: [55.768614, 37.643210],
                        zoom: 17,
                        controls: []
                    });
                    myMap.behaviors.disable(['rightMouseButtonMagnifier']);
                    myPlacemark = new ymaps.Placemark([55.768750, 37.638093], { hintContent: 'Центральный офис', balloonContent:
                            'Центральный офис' },{
                        iconLayout: 'default#image',
                        // // Своё изображение иконки метки.
                        // iconImageHref: 'img/icons/015-marker.svg',
                        // Размеры метки.
                        iconImageSize: [40, 55],
                        // Смещение левого верхнего угла иконки относительно
                        // её "ножки" (точки привязки).
                        iconImageOffset: [-20,-25]
                    });
                    myMap.geoObjects.add(myPlacemark);
                }
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h4>Склад Солнцево</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam asperiores atque blanditiis commodi corporis cum dignissimos ex magni nam non officiis omnis pariatur placeat quae, qui quidem recusandae saepe totam.</p>
        </div>
        <div class="col-12 col-lg-6">
            <div id="map1" style="width: 100%;height: 300px">
            </div>
            <script type="text/javascript">
                ymaps.ready(init);
                var myMap,
                    myPlacemark;

                function init(){
                    myMap = new ymaps.Map ("map1", {
                        center: [55.768614, 37.643210],
                        zoom: 17,
                        controls: []
                    });
                    myMap.behaviors.disable(['rightMouseButtonMagnifier']);
                    myPlacemark = new ymaps.Placemark([55.768750, 37.638093], { hintContent: 'Склад Солнцево', balloonContent:
                            'Склад Солнцево' },{
                        iconLayout: 'default#image',
                        // // Своё изображение иконки метки.
                        // iconImageHref: 'img/icons/015-marker.svg',
                        // Размеры метки.
                        iconImageSize: [40, 55],
                        // Смещение левого верхнего угла иконки относительно
                        // её "ножки" (точки привязки).
                        iconImageOffset: [-20,-25]
                    });
                    myMap.geoObjects.add(myPlacemark);
                }
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h4>Дистрибьюторы</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam asperiores atque blanditiis commodi corporis cum dignissimos ex magni nam non officiis omnis pariatur placeat quae, qui quidem recusandae saepe totam.</p>
        </div>
        <div class="col-12 col-lg-6">
            <a href="cooperation.html" class="btn btn-light border">Оформить заявку на сотрудничество</a>
        </div>
    </div>
</div>