<div class="container">
  <h1>Название акции</h1>
      @@include('_comp_action.html')
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta in iste possimus! A consequuntur cumque dolor
  exercitationem fugiat in inventore minus quibusdam reiciendis voluptatibus. Architecto at consectetur cum dolore enim
  eos eveniet quaerat sint voluptate. Amet asperiores consequuntur, doloribus esse exercitationem illo laborum modi
  molestiae officiis quae quaerat, sapiente.</p>
</div>
