<div class="container">
    <h1>Каталог рекламно-сувенирной продукции</h1>
    <div class="row">
        <div class="col-6 col-lg-3">
            <a href="labels.html">
                <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
                <p class="text-center">Этикетки</p>
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <a href="labels.html">
                <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
                <p class="text-center">Этикетки</p>
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <a href="labels.html">
                <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
                <p class="text-center">Этикетки</p>
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <a href="labels.html">
                <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
                <p class="text-center">Этикетки</p>
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <a href="labels.html">
                <img class="img-fluid" src="http://via.placeholder.com/300x300" alt="">
                <p class="text-center">Этикетки</p>
            </a>
        </div>


    </div>
<a type="button" class="btn btn-light" href="#">Весь каталог</a>
</div>