<div class="container d-none d-md-block">
    <h1>Новости</h1>
    <div class="row">
        <div class="col-6 col-lg-4 mb-3">
            <a href="news_detail.html">
            <img class="img-fluid" src="http://via.placeholder.com/300x200" alt="">
            <p>21.04.2018</p>
            <p>Lorem ipsum dolor sit amet.</p>
            </a>
        </div>
        <div class="col-6 col-lg-4 mb-3">
            <a href="news_detail.html">
            <img class="img-fluid" src="http://via.placeholder.com/300x200" alt="">
            <p>21.04.2018</p>
            <p>Lorem ipsum dolor sit amet.</p>
            </a>
        </div>
        <div class="col-6 col-lg-4 mb-3">
            <a href="news_detail.html">
            <img class="img-fluid" src="http://via.placeholder.com/300x200" alt="">
            <p>21.04.2018</p>
            <p>Lorem ipsum dolor sit amet.</p>
            </a>
        </div>
        <div class="col-6 col-lg-4 mb-3">
            <a href="news_detail.html">
            <img class="img-fluid" src="http://via.placeholder.com/300x200" alt="">
            <p>21.04.2018</p>
            <p>Lorem ipsum dolor sit amet.</p>
            </a>
        </div>
    </div>
</div>