<div class="container">
    <h1>Служба контроля качества</h1>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquid amet aut autem blanditiis dolore doloremque eaque enim eum impedit inventore ipsam iste iusto laboriosam, laborum libero maiores minima minus nobis non odio optio, perspiciatis placeat quae quas quisquam quos rerum sit veniam voluptatibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore est facilis inventore numquam qui soluta, ut. Atque consequuntur, deleniti eum impedit libero voluptatibus.</p>
    </article>
    <div class="row">
        <div class="col-12 col-md-8">
    <h5>Отдел1</h5>
    <a class="d-block" href="">54-23-12</a>
    <a class="d-block" href="8(455)234 45 23"></a>
    <h5>Отдел2</h5>
    <a class="d-block" href="">54-23-12</a>
    <a class="d-block" href="">ioijo@mail.ru</a>
    <h5>Отдел3</h5>
    <a class="d-block" href="">54-23-12</a>
    <a class="d-block" href="">ioijo@mail.ru</a>
    <a class="d-block" href="8(455)234 45 23"></a>
        </div>
        <div class="col-12 col-md-4">
    <button type="button" class="btn btn-primary d-block float-right" data-toggle="modal" data-target="#ModalCenter">
        Оставить пожелание
    </button>
</div>
</div>
</div>