@@include('__header.html')
@@include('_page_cabinet.html')
<div id="01" class="price_content ad_c d-none">
    <div class="container">
        <div class="row">
            <div class="col-6 mt-3 mb-3 border-bottom">ДАТА ФОРМИРОВАНИЯ ЗАЯВКИ</div>
            <div class="col-6 mt-3 mb-3 border-bottom date-order ">10.10.2010</div>
        <div class="table-order scroll1">
            @@include('_comp_table_form_buy.html')
        </div>
    </div>
</div>
</div>
    <div id="02" class="price_content2 ad_c d-none">
        <div class="container">
            <div class="row">
                <div class="col-6 mt-3 mb-3 border-bottom">ДАТА ФОРМИРОВАНИЯ ЗАЯВКИ</div>
                <div class="col-6 mt-3 mb-3 border-bottom date-order ">11.10.2010</div>
            <div class="table-order">
                @@include('_comp_table_form_buy_label.html')
            </div>
        </div>
    </div>
    </div>
        <div id="03" class="price_content3 ad_c d-none">
            <div class="container">
                <div class="row">
                    <div class="col-6 mt-3 mb-3 border-bottom">ДАТА ФОРМИРОВАНИЯ ЗАЯВКИ</div>
                    <div class="col-6 mt-3 mb-3 border-bottom date-order ">12.10.2010</div>
                <div class="table-order scroll1">
                    @@include('_comp_table_marketing.html')
                </div>
                </div>
            </div>
        </div>
@@include('__footer.html')