@@include('__header.html')
    @@include('_comp_mobile_buttons.html')
    @@include('_comp_breadcrumbs.html')
    <div class="container">
        <h1>Сотрудничество</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusamus animi beatae blanditiis culpa eaque, eius est ex ipsum itaque iusto, maiores maxime molestiae mollitia nesciunt qui quo recusandae repellat reprehenderit sed similique sint tempora tempore tenetur. Adipisci animi esse libero molestias provident similique.</p>

        @@include('_comp_cooperation_form.html')
        @@include('__footer.html')