@@include('__header.html')
@@include('_comp_mobile_buttons.html')
@@include('_comp_breadcrumbs.html')
<div class="container-fluid">
    <h1 class="text-center">Ваш заказ</h1>
    <div class="scroll">
        @@include('_comp_table_form_buy_label.html')
    </div>
    <a class="btn btn-light d-inline-block float-right" style="cursor: pointer" data-toggle="modal" data-target="#ModalRegistration">Оформить заказ</a>
</div>

@@include('__footer.html')