@@include('__header.html')
@@include('_comp_mobile_buttons.html')
@@include('_comp_breadcrumbs.html')
<div class="container">
    <h1>Сырная Династия</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto assumenda cumque dolore earum eum, excepturi
        harum in ipsa maxime modi nostrum numquam optio perspiciatis, possimus quae sint tempore vero? Accusantium, aut beatae
        doloribus error excepturi illo officiis possimus quibusdam, quo ratione voluptates!</p>
</div>
@@include('_comp_products_slider.html')
@@include('_comp_brands_slider_mini.html')
@@include('__footer.html')