.current_city {
    display: inline-block;
    padding: 5px 0;
    border-bottom: 1px dashed #fff;
    margin-top: 4px;	
}
.adress_popover {
	position: relative;
	z-index: 100;
	cursor: pointer;
	display: inline-block;
}
.city_popover {
	display: none;
	width: 230px;
	float: left;
	font-size: 16px;
	background-color: #fff;
	position: absolute;
	color: #000;
	top: 100%;
	left: 50%;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	border: 3px solid #c52033;
	margin-top: 35px;
	opacity: 0;
	font-weight: bold;
}
.city_popover:after {
    content: '';
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #c52033 transparent;
    z-index: -1;

}
.city_popover a {
	display: inline-block;
	margin: 10px 20px 0;
}
.city_modal {
    width: 400px;
    /* height: 300px; */
    background: #fff;
    position: fixed;
    top: 5%;
    left: 50%;
    /*margin-top: -150px;*/
    margin-left: -200px;
    display: none;
    opacity: 0;
    z-index: 121;
    box-sizing: border-box;
    padding: 30px;
}
.city_modal .city_modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: -22px;
    right: -24px;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 40px;
}
.city_overlay {
	z-index:120; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
.choose_city_title {
	display: block;
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}
.city_modal a {
    display: inline-block;
    color: #333;
    margin: 0 20px 20px 0px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px dashed #333;
    text-decoration: none;
}
.city_modal a:hover {
	color: #000;
}