@import "css/_mixins";

//body{
//  font-size: 14px;
//}

.contain {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition:  left 0.4s ease-in-out;
  -moz-transition:  left 0.4s ease-in-out;
  -ms-transition:  left 0.4s ease-in-out;
  -o-transition:  left 0.4s ease-in-out;
  transition:  left 0.4s ease-in-out;
}


#sidebar {
  background: #DF314D;
  position: absolute;
  width: 300px;
  height: 100%;
  left: -300px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: 1s;
  z-index: 9;
}

.open-sidebar {
   left: 0!important;
  z-index: 9;
  transition: 1s;
 }

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #C9223D;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
  background: #C9223D;
}

.main-content #sidebar-toggle {
  background: #DF314D;
  border-radius: 3px;
  display: block;
  position: relative;
  float: left;
  width: 60px;
}
.main-content #sidebar-toggle .bar{
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}
.main-content #sidebar-toggle .bar:last-child{
  margin-bottom: 0;
}

#sidebar{
  padding-top: 50px;
}

.img-social{
  height: 30px;
  width: 30px;
}




// input-search on mobile

* {box-sizing: border-box;}

.input-search {
  height: 45px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: -20px;
  right: 20px;
  z-index: 2;

}
.input-search:focus {
  width: 290px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
  background: #fff;
  margin-right: 45px;
}
.search-button {
  border: none;
  height: 45px;
  width: 45px;
  position: absolute;
  top: -20px;
  right: 20px;
  cursor: pointer;

}


@media screen and (max-width: 1580px) {
  .scroll {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 2600px) {
  .scroll1 {
    overflow-x: scroll;
  }
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}





.date-order{
  cursor: pointer;
}
.table-order{
  display: none;
}


//action clock

.card-action{
  max-width: 550px;
  display: block;
  margin: auto;
}
.clock-action {
  position: absolute;
  bottom:  15px;
  list-style: none;
  li {
    display: inline-block;
    span {
      font-size: 2rem;
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 8px;
    }
    div {
      margin: 0;
      font-size: .7rem;
      z-index: 10;
    }
  }
}
.seperator {
  font-size: 2rem;
  vertical-align: top;
}


.form-want-buy{
  display: none;
}

@include media-bp-up (lg) {
  .card_product .bx-wrapper{
    display: none;
  }
}

.characters_product{
   display: none;
 }


#map {
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}
#miniMap {
  width: 100%;
  min-height: 300px;
  padding: 0;
  margin: 0;
}



ul.ui-autocomplete{
  z-index: 1500;
}

/*нужно для режима правки ~~~~byulent*/
.navbar-collapse .bx-context-toolbar-empty-area {
  min-width: 20px;
}